<!-- <form role="form" action="/" method="get" class="form-inline text-center"> -->
<form role="form" class="form-inline text-center">
	<div class="form-group">
    <label class="sr-only" for="placeName">Name of place</label>
    <input type="text" class="form-control" id="placeName" name="term" placeholder="Enter the name of a place" value="<%= @search %>" size="30" />
  </div>
  <div class="form-group">
    <label class="sr-only" for="location">Location</label>
    <input type="text" class="form-control" id="location" name="location" placeholder="Enter a city" value="<%= @location %>" size="30" />
  </div>
  <input type="submit" class="btn btn-primary" id="submitButton" value="Search" />
</form>
<p class="text-center"><a href="http://www.yelp.com"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/dc8ff90d5d7d/developers/Powered_By_Yelp_Black.png" /></a></p>

<p class="text-right" id="use-address"><a href="#">Search near my current address</a></p>