<%= render"search" %>

<p class="text-right" id="use-address">
	<a href="#">Search near my current address</a>  |  
	<a href="#about">About</a>
</p>

<div id="map"></div>


<a name="about"></a>
<div class="jumbotron">
	<div class="container">
		<h4>What is LunchCounter?</h4>
		<p>LunchCounter shows you the average wait time for popular lunch spots in your 'hood.</p>
		<h4>Where does your data come from?</h4>
		<p>Our data comes from users like you!</p>
		<h4>Want to contribute?</h4>
		<p>Sweet! Just pull up our mobile site on your phone the next time you're waiting in line for lunch. Search for the restaurant, and click to "Add Counter" button.</p>
	</div>
</div>