<!DOCTYPE html>
<html>
<head>
  <title>LunchCounter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<p class="text-center">Restaurant data provided by:<br/>
		<a href="http://www.yelp.com"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png" /></a>
	</p>

</body>
</html>
